#header {
    align-items: center;
    background-color: #bfbfbf;
    display: inline-grid;
    width: 100vw;
}
#logo {
    grid-column-start: 1;
    grid-column-end: 1;
}
#center-align-search {
    grid-column-start: 3;
    grid-column-end: 3;
}

#logo, #center-align-search {
    width: 200px;
}

#search {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: center;
    align-items: center;
}

#search-bar {
    height: 60px;
    font-size: 60px;
    padding: 15px;
    text-align: center;
    width: 500px;
}

#search-button {
    font-size: 90px;
}

#suggestions-container {
    position: relative;
}

#search-suggestions {
    position: absolute;
    display: none;
    height: 600px;
    left: 0%;
    right: 0%;
    top: 100%;
}

#courses-suggestions {
    background-color: #FF0000;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#providers-suggestions {
    background-color: #00FF00;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#all-suggestions {
    background-color: #0000FF;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}