<div id="header">
    <div id="logo">
        <a href="/">Logo placeholder</a>
    </div>
    <form accept-charset="UTF-8" onsubmit="return submitSearch()" id="search">
        <div id="suggestions-container">
            <input id="search-bar" type="text" autocomplete="off" placeholder="Search">
            <div id="search-suggestions">
                <div id="courses-suggestions"></div>
                <div id="providers-suggestions"></div>
                <div id="all-suggestions"></div>
            </div>
        </div>
        <input id="search-button" type="submit" value="search" class="material-symbols-outlined">
    </form>
    <div id="center-align-search"></div>
</div>