.photo {
    background-color: #ff0000;
    min-width: 200px;
    min-height: 200px;
}

#members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#members-container > * {
    margin: 10px;
}