
.box {
    /*Hvit box med svart tekst og border  */
    padding: 75px 0;
    width: 800px;
    text-align: left;
    background: #eae3e3;
    margin: 25px;
    border: 3px solid black;
    display: inline-block;
  }

  .box2 {
    /*Ikke noe box med svart tekst   */
    padding: 75px 0;
    width: 800px;
    text-align: left;
    margin: 25px;
    display: inline-block;
  }

  .topLeftText {
    /* color: rgb(47, 46, 46); */
    color: rgb(0, 0, 0);
    position: relative;
    top: -70px;
    left: 10px;
    font-size: 30px;
  }

  .pContact {
    /*color: rgb(47, 46, 46); */
    color: rgb(0, 0, 0);
    position: relative;
    top: -70px;
    left: 10px;
    font-size: 20px;
  }

  .space {
  padding: 15px 0;
  }